{"openapi":"3.0.3","info":{"title":"Documenso v2 API","description":"Welcome to the Documenso v2 API.\n\nThis API provides access to our system, which you can use to integrate applications, automate workflows, or build custom tools.","version":"1.0.0"},"servers":[{"url":"https://sign.polygonface.com/api/v2"}],"paths":{"/envelope/attachment":{"get":{"operationId":"envelope-attachment-find","summary":"Find attachments","description":"Find all attachments for an envelope","tags":["Envelope Attachments"],"security":[{"apiKey":[]}],"parameters":[{"in":"query","name":"envelopeId","schema":{"type":"string"},"required":true},{"in":"query","name":"token","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["link"]},"label":{"type":"string"},"data":{"type":"string"}},"required":["id","type","label","data"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/attachment/create":{"post":{"operationId":"envelope-attachment-create","summary":"Create attachment","description":"Create a new attachment for an envelope","tags":["Envelope Attachments"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"data":{"type":"object","properties":{"label":{"type":"string","minLength":1},"data":{"type":"string","format":"uri"}},"required":["label","data"]}},"required":["envelopeId","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/attachment/update":{"post":{"operationId":"envelope-attachment-update","summary":"Update attachment","description":"Update an existing attachment","tags":["Envelope Attachments"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"data":{"type":"object","properties":{"label":{"type":"string","minLength":1},"data":{"type":"string","format":"uri"}},"required":["label","data"]}},"required":["id","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/attachment/delete":{"post":{"operationId":"envelope-attachment-delete","summary":"Delete attachment","description":"Delete an attachment from an envelope","tags":["Envelope Attachments"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"}},"required":["id"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/item/create-many":{"post":{"operationId":"envelope-item-createMany","summary":"Create envelope items","description":"Create multiple envelope items for an envelope","tags":["Envelope Items"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"payload":{"type":"object","properties":{"envelopeId":{"type":"string"}},"required":["envelopeId"]},"files":{"type":"array","items":{}}},"required":["payload"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"envelopeId":{"type":"string"},"order":{"type":"number"},"documentDataId":{"type":"string"}},"required":["id","title","envelopeId","order","documentDataId"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/item/update-many":{"post":{"operationId":"envelope-item-updateMany","summary":"Update envelope items","description":"Update multiple envelope items for an envelope","tags":["Envelope Items"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"envelopeItemId":{"type":"string"},"order":{"type":"integer","minimum":1},"title":{"type":"string","minLength":1,"maxLength":255}},"required":["envelopeItemId"]},"minItems":1}},"required":["envelopeId","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"order":{"type":"number"},"title":{"type":"string"},"envelopeId":{"type":"string"}},"required":["id","order","title","envelopeId"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/item/delete":{"post":{"operationId":"envelope-item-delete","summary":"Delete envelope item","description":"Delete an envelope item from an envelope","tags":["Envelope Items"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"envelopeItemId":{"type":"string"}},"required":["envelopeId","envelopeItemId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/item/{envelopeItemId}/download":{"get":{"operationId":"envelope-item-download","summary":"Download an envelope item","description":"Download an envelope item by its ID","tags":["Envelope Items"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"envelopeItemId","description":"The ID of the envelope item to download.","schema":{"type":"string"},"required":true},{"in":"query","name":"version","description":"The version of the envelope item to download. \"signed\" returns the completed document with all signatures and the audit trail, \"original\" returns the original uploaded document, \"pending\" returns the original document with currently-inserted fields burned in (only valid while the envelope is in PENDING status; not a final executed document).","schema":{"type":"string","enum":["original","signed","pending"],"default":"signed"}}],"responses":{"200":{"description":"Successful response","headers":{"Content-Type":{"schema":{"type":"string","enum":["application/pdf"]},"required":true}},"content":{"application/json":{"schema":{}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/recipient/{recipientId}":{"get":{"operationId":"envelope-recipient-get","summary":"Get envelope recipient","description":"Returns an envelope recipient given an ID","tags":["Envelope Recipients"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"recipientId","schema":{"type":"number"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"role":{"type":"string","enum":["CC","SIGNER","VIEWER","APPROVER","ASSISTANT"]},"readStatus":{"type":"string","enum":["NOT_OPENED","OPENED"]},"signingStatus":{"type":"string","enum":["NOT_SIGNED","SIGNED","REJECTED"]},"sendStatus":{"type":"string","enum":["NOT_SENT","SENT"]},"id":{"type":"number"},"email":{"type":"string"},"name":{"type":"string"},"token":{"type":"string"},"documentDeletedAt":{"type":"string","nullable":true},"expired":{"type":"string","nullable":true},"expiresAt":{"type":"string","nullable":true},"expirationNotifiedAt":{"type":"string","nullable":true},"signedAt":{"type":"string","nullable":true},"authOptions":{"type":"object","nullable":true,"properties":{"accessAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","TWO_FACTOR_AUTH"]}},"actionAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","PASSKEY","TWO_FACTOR_AUTH","PASSWORD","EXPLICIT_NONE"]}}},"required":["accessAuth","actionAuth"]},"signingOrder":{"type":"number","nullable":true},"rejectionReason":{"type":"string","nullable":true},"fields":{"type":"array","items":{"type":"object","properties":{"envelopeId":{"type":"string"},"envelopeItemId":{"type":"string"},"type":{"type":"string","enum":["SIGNATURE","FREE_SIGNATURE","INITIALS","NAME","EMAIL","DATE","TEXT","NUMBER","RADIO","CHECKBOX","DROPDOWN"]},"id":{"type":"number"},"secondaryId":{"type":"string"},"recipientId":{"type":"number"},"page":{"type":"number"},"positionX":{},"positionY":{},"width":{},"height":{},"customText":{"type":"string"},"inserted":{"type":"boolean"},"fieldMeta":{"nullable":true,"oneOf":[{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"]}]},"documentId":{"type":"number","nullable":true},"templateId":{"type":"number","nullable":true}},"required":["envelopeId","envelopeItemId","type","id","secondaryId","recipientId","page","positionX","positionY","width","height","customText","inserted","fieldMeta"]}}},"required":["envelopeId","role","readStatus","signingStatus","sendStatus","id","email","name","token","documentDeletedAt","expired","expiresAt","expirationNotifiedAt","signedAt","authOptions","signingOrder","rejectionReason","fields"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/recipient/create-many":{"post":{"operationId":"envelope-recipient-createMany","summary":"Create envelope recipients","description":"Create multiple recipients for an envelope","tags":["Envelope Recipients"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"email":{"anyOf":[{"type":"string","enum":[""]},{"type":"string","pattern":"^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~\\u{0080}-\\u{FFFF}-]+@[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?(?:\\.[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?)*$","maxLength":254}]},"name":{"type":"string","maxLength":255},"role":{"type":"string","enum":["CC","SIGNER","VIEWER","APPROVER","ASSISTANT"]},"signingOrder":{"type":"number"},"accessAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","TWO_FACTOR_AUTH"]},"default":[]},"actionAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","PASSKEY","TWO_FACTOR_AUTH","PASSWORD","EXPLICIT_NONE"]},"default":[]}},"required":["email","name","role"]}}},"required":["envelopeId","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"envelopeId":{"type":"string"},"role":{"type":"string","enum":["CC","SIGNER","VIEWER","APPROVER","ASSISTANT"]},"readStatus":{"type":"string","enum":["NOT_OPENED","OPENED"]},"signingStatus":{"type":"string","enum":["NOT_SIGNED","SIGNED","REJECTED"]},"sendStatus":{"type":"string","enum":["NOT_SENT","SENT"]},"id":{"type":"number"},"email":{"type":"string"},"name":{"type":"string"},"token":{"type":"string"},"documentDeletedAt":{"type":"string","nullable":true},"expired":{"type":"string","nullable":true},"expiresAt":{"type":"string","nullable":true},"expirationNotifiedAt":{"type":"string","nullable":true},"signedAt":{"type":"string","nullable":true},"authOptions":{"type":"object","nullable":true,"properties":{"accessAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","TWO_FACTOR_AUTH"]}},"actionAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","PASSKEY","TWO_FACTOR_AUTH","PASSWORD","EXPLICIT_NONE"]}}},"required":["accessAuth","actionAuth"]},"signingOrder":{"type":"number","nullable":true},"rejectionReason":{"type":"string","nullable":true}},"required":["envelopeId","role","readStatus","signingStatus","sendStatus","id","email","name","token","documentDeletedAt","expired","expiresAt","expirationNotifiedAt","signedAt","authOptions","signingOrder","rejectionReason"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/recipient/update-many":{"post":{"operationId":"envelope-recipient-updateMany","summary":"Update envelope recipients","description":"Update multiple recipients for an envelope","tags":["Envelope Recipients"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"email":{"anyOf":[{"type":"string","enum":[""]},{"type":"string","pattern":"^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~\\u{0080}-\\u{FFFF}-]+@[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?(?:\\.[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?)*$","maxLength":254}]},"name":{"type":"string","maxLength":255},"role":{"type":"string","enum":["CC","SIGNER","VIEWER","APPROVER","ASSISTANT"]},"signingOrder":{"type":"number"},"accessAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","TWO_FACTOR_AUTH"]},"default":[]},"actionAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","PASSKEY","TWO_FACTOR_AUTH","PASSWORD","EXPLICIT_NONE"]},"default":[]}},"required":["id"]}}},"required":["envelopeId","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"envelopeId":{"type":"string"},"role":{"type":"string","enum":["CC","SIGNER","VIEWER","APPROVER","ASSISTANT"]},"readStatus":{"type":"string","enum":["NOT_OPENED","OPENED"]},"signingStatus":{"type":"string","enum":["NOT_SIGNED","SIGNED","REJECTED"]},"sendStatus":{"type":"string","enum":["NOT_SENT","SENT"]},"id":{"type":"number"},"email":{"type":"string"},"name":{"type":"string"},"token":{"type":"string"},"documentDeletedAt":{"type":"string","nullable":true},"expired":{"type":"string","nullable":true},"expiresAt":{"type":"string","nullable":true},"expirationNotifiedAt":{"type":"string","nullable":true},"signedAt":{"type":"string","nullable":true},"authOptions":{"type":"object","nullable":true,"properties":{"accessAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","TWO_FACTOR_AUTH"]}},"actionAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","PASSKEY","TWO_FACTOR_AUTH","PASSWORD","EXPLICIT_NONE"]}}},"required":["accessAuth","actionAuth"]},"signingOrder":{"type":"number","nullable":true},"rejectionReason":{"type":"string","nullable":true},"documentId":{"type":"number","nullable":true},"templateId":{"type":"number","nullable":true}},"required":["envelopeId","role","readStatus","signingStatus","sendStatus","id","email","name","token","documentDeletedAt","expired","expiresAt","expirationNotifiedAt","signedAt","authOptions","signingOrder","rejectionReason"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/recipient/delete":{"post":{"operationId":"envelope-recipient-delete","summary":"Delete envelope recipient","description":"Delete an envelope recipient","tags":["Envelope Recipients"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"recipientId":{"type":"number"}},"required":["recipientId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/recipient/{recipientId}/reject":{"post":{"operationId":"envelope-recipient-rejectOnBehalfOf","summary":"Reject envelope recipient on behalf of","description":"Records a rejection on behalf of a recipient. Use this when a recipient has declined to sign outside of the platform. The rejection is flagged as external in the document audit log. By default the action is attributed to the API user; supply `actAsEmail` to attribute it to a specific team member.","tags":["Envelope Recipients"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"recipientId","description":"The ID of the recipient to reject the document on behalf of.","schema":{"type":"number"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"reason":{"type":"string","minLength":1},"actAsEmail":{"type":"string","pattern":"^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~\\u{0080}-\\u{FFFF}-]+@[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?(?:\\.[a-zA-Z0-9\\u{0080}-\\u{FFFF}](?:[a-zA-Z0-9\\u{0080}-\\u{FFFF}-]{0,61}[a-zA-Z0-9\\u{0080}-\\u{FFFF}])?)*$"}},"required":["envelopeId","reason"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"role":{"type":"string","enum":["CC","SIGNER","VIEWER","APPROVER","ASSISTANT"]},"readStatus":{"type":"string","enum":["NOT_OPENED","OPENED"]},"signingStatus":{"type":"string","enum":["NOT_SIGNED","SIGNED","REJECTED"]},"sendStatus":{"type":"string","enum":["NOT_SENT","SENT"]},"id":{"type":"number"},"email":{"type":"string"},"name":{"type":"string"},"token":{"type":"string"},"documentDeletedAt":{"type":"string","nullable":true},"expired":{"type":"string","nullable":true},"expiresAt":{"type":"string","nullable":true},"expirationNotifiedAt":{"type":"string","nullable":true},"signedAt":{"type":"string","nullable":true},"authOptions":{"type":"object","nullable":true,"properties":{"accessAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","TWO_FACTOR_AUTH"]}},"actionAuth":{"type":"array","items":{"type":"string","enum":["ACCOUNT","PASSKEY","TWO_FACTOR_AUTH","PASSWORD","EXPLICIT_NONE"]}}},"required":["accessAuth","actionAuth"]},"signingOrder":{"type":"number","nullable":true},"rejectionReason":{"type":"string","nullable":true},"fields":{"type":"array","items":{"type":"object","properties":{"envelopeId":{"type":"string"},"envelopeItemId":{"type":"string"},"type":{"type":"string","enum":["SIGNATURE","FREE_SIGNATURE","INITIALS","NAME","EMAIL","DATE","TEXT","NUMBER","RADIO","CHECKBOX","DROPDOWN"]},"id":{"type":"number"},"secondaryId":{"type":"string"},"recipientId":{"type":"number"},"page":{"type":"number"},"positionX":{},"positionY":{},"width":{},"height":{},"customText":{"type":"string"},"inserted":{"type":"boolean"},"fieldMeta":{"nullable":true,"oneOf":[{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"]}]},"documentId":{"type":"number","nullable":true},"templateId":{"type":"number","nullable":true}},"required":["envelopeId","envelopeItemId","type","id","secondaryId","recipientId","page","positionX","positionY","width","height","customText","inserted","fieldMeta"]}}},"required":["envelopeId","role","readStatus","signingStatus","sendStatus","id","email","name","token","documentDeletedAt","expired","expiresAt","expirationNotifiedAt","signedAt","authOptions","signingOrder","rejectionReason","fields"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/field/{fieldId}":{"get":{"operationId":"envelope-field-get","summary":"Get envelope field","description":"Returns an envelope field given an ID","tags":["Envelope Fields"],"security":[{"apiKey":[]}],"parameters":[{"in":"path","name":"fieldId","schema":{"type":"number"},"required":true}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"envelopeItemId":{"type":"string"},"type":{"type":"string","enum":["SIGNATURE","FREE_SIGNATURE","INITIALS","NAME","EMAIL","DATE","TEXT","NUMBER","RADIO","CHECKBOX","DROPDOWN"]},"id":{"type":"number"},"secondaryId":{"type":"string"},"recipientId":{"type":"number"},"page":{"type":"number"},"positionX":{},"positionY":{},"width":{},"height":{},"customText":{"type":"string"},"inserted":{"type":"boolean"},"fieldMeta":{"nullable":true,"oneOf":[{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"]}]}},"required":["envelopeId","envelopeItemId","type","id","secondaryId","recipientId","page","positionX","positionY","width","height","customText","inserted","fieldMeta"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/field/create-many":{"post":{"operationId":"envelope-field-createMany","summary":"Create envelope fields","description":"Create multiple fields for an envelope","tags":["Envelope Fields"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"data":{"type":"array","items":{"anyOf":[{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["SIGNATURE"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["type"],"default":{"type":"signature","fontSize":18,"overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["FREE_SIGNATURE"]}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["INITIALS"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"initials","fontSize":12,"textAlign":"left"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["NAME"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"name","fontSize":12,"textAlign":"left"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["EMAIL"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"email","fontSize":12,"textAlign":"left","overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["DATE"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"date","fontSize":12,"textAlign":"left","overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"],"default":{"type":"text","fontSize":12,"textAlign":"left","label":"","placeholder":"","text":"","required":false,"readOnly":false}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["NUMBER"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"],"default":{"type":"number","fontSize":12,"textAlign":"left","label":"","placeholder":"","required":false,"readOnly":false}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["RADIO"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type"],"default":{"type":"radio","fontSize":12,"values":[{"id":1,"checked":false,"value":""}],"required":false,"readOnly":false,"direction":"vertical"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["CHECKBOX"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type"],"default":{"type":"checkbox","fontSize":12,"values":[{"id":1,"checked":false,"value":""}],"validationRule":"","validationLength":0,"required":false,"readOnly":false,"direction":"vertical"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["DROPDOWN"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"],"default":{"type":"dropdown","fontSize":12,"values":[{"value":"Option 1"}],"defaultValue":"","required":false,"readOnly":false}}},"required":["type"]}]},{"type":"object","properties":{"recipientId":{"type":"number"},"envelopeItemId":{"type":"string"}},"required":["recipientId"]},{"type":"object","properties":{"page":{"type":"number","minimum":1},"positionX":{"type":"number","minimum":0,"maximum":100},"positionY":{"type":"number","minimum":0,"maximum":100},"width":{"type":"number","minimum":0,"maximum":100},"height":{"type":"number","minimum":0,"maximum":100}},"required":["page","positionX","positionY","width","height"]}]},{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["SIGNATURE"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["type"],"default":{"type":"signature","fontSize":18,"overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["FREE_SIGNATURE"]}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["INITIALS"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"initials","fontSize":12,"textAlign":"left"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["NAME"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"name","fontSize":12,"textAlign":"left"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["EMAIL"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"email","fontSize":12,"textAlign":"left","overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["DATE"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"date","fontSize":12,"textAlign":"left","overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"],"default":{"type":"text","fontSize":12,"textAlign":"left","label":"","placeholder":"","text":"","required":false,"readOnly":false}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["NUMBER"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"],"default":{"type":"number","fontSize":12,"textAlign":"left","label":"","placeholder":"","required":false,"readOnly":false}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["RADIO"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type"],"default":{"type":"radio","fontSize":12,"values":[{"id":1,"checked":false,"value":""}],"required":false,"readOnly":false,"direction":"vertical"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["CHECKBOX"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type"],"default":{"type":"checkbox","fontSize":12,"values":[{"id":1,"checked":false,"value":""}],"validationRule":"","validationLength":0,"required":false,"readOnly":false,"direction":"vertical"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["DROPDOWN"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"],"default":{"type":"dropdown","fontSize":12,"values":[{"value":"Option 1"}],"defaultValue":"","required":false,"readOnly":false}}},"required":["type"]}]},{"type":"object","properties":{"recipientId":{"type":"number"},"envelopeItemId":{"type":"string"}},"required":["recipientId"]},{"type":"object","properties":{"placeholder":{"type":"string"},"width":{"type":"number","minimum":0,"maximum":100},"height":{"type":"number","minimum":0,"maximum":100},"matchAll":{"type":"boolean"}},"required":["placeholder"]}]}]}}},"required":["envelopeId","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"envelopeId":{"type":"string"},"envelopeItemId":{"type":"string"},"type":{"type":"string","enum":["SIGNATURE","FREE_SIGNATURE","INITIALS","NAME","EMAIL","DATE","TEXT","NUMBER","RADIO","CHECKBOX","DROPDOWN"]},"id":{"type":"number"},"secondaryId":{"type":"string"},"recipientId":{"type":"number"},"page":{"type":"number"},"positionX":{},"positionY":{},"width":{},"height":{},"customText":{"type":"string"},"inserted":{"type":"boolean"},"fieldMeta":{"nullable":true,"oneOf":[{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"]}]},"documentId":{"type":"number","nullable":true},"templateId":{"type":"number","nullable":true}},"required":["envelopeId","envelopeItemId","type","id","secondaryId","recipientId","page","positionX","positionY","width","height","customText","inserted","fieldMeta"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/field/update-many":{"post":{"operationId":"envelope-field-updateMany","summary":"Update envelope fields","description":"Update multiple envelope fields for an envelope","tags":["Envelope Fields"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"envelopeId":{"type":"string"},"data":{"type":"array","items":{"allOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["SIGNATURE"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["type"],"default":{"type":"signature","fontSize":18,"overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["FREE_SIGNATURE"]}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["INITIALS"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"initials","fontSize":12,"textAlign":"left"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["NAME"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"name","fontSize":12,"textAlign":"left"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["EMAIL"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"email","fontSize":12,"textAlign":"left","overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["DATE"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"],"default":{"type":"date","fontSize":12,"textAlign":"left","overflow":"auto"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["TEXT"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"],"default":{"type":"text","fontSize":12,"textAlign":"left","label":"","placeholder":"","text":"","required":false,"readOnly":false}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["NUMBER"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"],"default":{"type":"number","fontSize":12,"textAlign":"left","label":"","placeholder":"","required":false,"readOnly":false}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["RADIO"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type"],"default":{"type":"radio","fontSize":12,"values":[{"id":1,"checked":false,"value":""}],"required":false,"readOnly":false,"direction":"vertical"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["CHECKBOX"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type"],"default":{"type":"checkbox","fontSize":12,"values":[{"id":1,"checked":false,"value":""}],"validationRule":"","validationLength":0,"required":false,"readOnly":false,"direction":"vertical"}}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","enum":["DROPDOWN"]},"fieldMeta":{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"],"default":{"type":"dropdown","fontSize":12,"values":[{"value":"Option 1"}],"defaultValue":"","required":false,"readOnly":false}}},"required":["type"]}]},{"type":"object","properties":{"id":{"type":"number"},"envelopeItemId":{"type":"string"}},"required":["id"]},{"type":"object","properties":{"page":{"type":"number","minimum":1},"positionX":{"type":"number","minimum":0,"maximum":100},"positionY":{"type":"number","minimum":0,"maximum":100},"width":{"type":"number","minimum":0,"maximum":100},"height":{"type":"number","minimum":0,"maximum":100}}}]}}},"required":["envelopeId","data"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"envelopeId":{"type":"string"},"envelopeItemId":{"type":"string"},"type":{"type":"string","enum":["SIGNATURE","FREE_SIGNATURE","INITIALS","NAME","EMAIL","DATE","TEXT","NUMBER","RADIO","CHECKBOX","DROPDOWN"]},"id":{"type":"number"},"secondaryId":{"type":"string"},"recipientId":{"type":"number"},"page":{"type":"number"},"positionX":{},"positionY":{},"width":{},"height":{},"customText":{"type":"string"},"inserted":{"type":"boolean"},"fieldMeta":{"nullable":true,"oneOf":[{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["signature"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["initials"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["name"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["email"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"],"default":"auto"},"type":{"type":"string","enum":["date"]},"textAlign":{"type":"string","enum":["left","center","right"]}},"required":["overflow","type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["text"]},"text":{"type":"string"},"characterLimit":{"type":"number","minimum":0},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["number"]},"numberFormat":{"type":"string","nullable":true},"value":{"type":"string"},"minValue":{"type":"number","nullable":true},"maxValue":{"type":"number","nullable":true},"textAlign":{"type":"string","enum":["left","center","right"]},"lineHeight":{"type":"number","nullable":true,"minimum":1,"maximum":10},"letterSpacing":{"type":"number","nullable":true,"minimum":0,"maximum":100},"verticalAlign":{"type":"string","nullable":true,"enum":["top","middle","bottom",null]}},"required":["type"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["radio"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["checkbox"]},"values":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number"},"checked":{"type":"boolean"},"value":{"type":"string"}},"required":["id","checked","value"]}},"validationRule":{"type":"string"},"validationLength":{"type":"number"},"direction":{"type":"string","enum":["vertical","horizontal"],"default":"vertical"}},"required":["type","direction"]},{"type":"object","properties":{"label":{"type":"string"},"placeholder":{"type":"string"},"required":{"type":"boolean"},"readOnly":{"type":"boolean"},"fontSize":{"type":"number","minimum":8,"maximum":96,"default":12},"overflow":{"type":"string","enum":["auto","horizontal","vertical","crop"]},"type":{"type":"string","enum":["dropdown"]},"values":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"}},"required":["value"]}},"defaultValue":{"type":"string"}},"required":["type"]}]},"documentId":{"type":"number","nullable":true},"templateId":{"type":"number","nullable":true}},"required":["envelopeId","envelopeItemId","type","id","secondaryId","recipientId","page","positionX","positionY","width","height","customText","inserted","fieldMeta"]}}},"required":["data"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope/field/delete":{"post":{"operationId":"envelope-field-delete","summary":"Delete envelope field","description":"Delete an envelope field","tags":["Envelope Fields"],"security":[{"apiKey":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"fieldId":{"type":"number"}},"required":["fieldId"]}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"]}}}},"400":{"description":"Invalid input data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"401":{"description":"Authorization not provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"403":{"description":"Insufficient access","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"},"issues":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"]}}},"required":["message","code"]}}}}}}},"/envelope":{"get":{"operationId":"envelope-find","summary":"Find envelopes","description":"Find envelopes based on search criteria","tags":["Envelope"],"security":[{"apiKey":[]}],"parameters":[{"in":"query","name":"query","description":"The search query.","schema":{"type":"string"}},{"in":"query","name":"page","description":"The pagination page number, starts at 1.","schema":{"type":"number","minimum":1}},{"in":"query","name":"perPage","description":"The number of items per page.","schema":{"type":"number","minimum":1,"maximum":100}},{"in":"query","name":"type","description":"Filter envelopes by type (DOCUMENT or TEMPLATE).","schema":{"type":"string","enum":["DOCUMENT","TEMPLATE"]}},{"in":"query","name":"templateId","description":"Filter envelopes by the template ID used to create it.","schema":{"type":"number"}},{"in":"query","name":"source","description":"Filter envelopes by how it was created.","schema":{"type":"string","enum":["DOCUMENT","TEMPLATE","TEMPLATE_DIRECT_LINK"]}},{"in":"query","name":"status","description":"Filter envelopes by the current status.","schema":{"type":"string","enum":["DRAFT","PENDING","COMPLETED","REJECTED","CANCELLED"]}},{"in":"query","name":"hasExpiredRecipients","description":"Filter for envelopes that have at least one recipient whose signing link has expired.","schema":{"type":"string","enum":["true","false"]}},{"in":"query","name":"folderId","description":"Filter envelopes by folder ID.","schema":{"type":"string"}},{"in
[...]
